<h3><%= link_to item.name, item_path(item) %></h3>

<p>Price: <%= item.price %></p>
<p>phone: <%= item.phone %></p>
<% if item.images.attached? %>
  <% item.images.each do |image| %>
  <%= image_tag image, alt: "Item Image", class: "custom-image" %>
<% end %>
<% else %>
  <p>No images available</p>
<% end %>
<hr>
