<h1>Inzeraty</h1>

<h3><%= link_to "Pridat Inzerat", new_item_path%></h3>
<hr>
<div>

<% @items.each do |item| %>
  <%= render @items %>
  <p><%= link_to "Delete", item_url(item), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %></p>
<% end %>