<div class="card-header">
  <div>
    <p><%= link_to "Back", items_path%></p>
    <h2 class="cme-40">New Item</h2>
  </div>
</div>

<div class="card-body">
  <%= render 'shared/errors', resource: @item %>
  <%= render 'form', item: @item %>
</div>