<%= form_with model: [:admin, category] do |f| %>

  <div class="mb-3">
    <%= f.label :name, "Category Name", class: "form-label", for: "exampleFormControlInput1" %>
    <%= f.text_field :name, class: "form-control", placeholder: "New Category" %>
  </div>

  <%= f.submit t('.save_changes'), class: "btn btn-primary" %>

<% end %>