<div class="card card-standard">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <h1>Categories</h1>
      <h3><%= link_to "Add Category", new_admin_category_path, class: "btn btn-primary" %></h3>
    </div>
  </div>


  <div class="card-body">
    <% @categories.each do |category| %>
      <h3><%= link_to category.name, admin_category_path(category) %></h3>
      <hr>
    <% end %>
  </div>
</div>