@import "bootstrap";

* {
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}

a {
  color: yellow;
  border-color: rgb(45, 45, 45);
  border-width: 1cm;
}

.btn {
  background-color: yellow;
  color: rgb(45, 45, 45);
  border-color: rgb(45, 45, 45);
}

div {
  display: block;
}

.card {
  background-color: rgba(184, 184, 184, 0.54);
}

input,
select {
  background-color: lightyellow;
}

.text-red {
  color: red;
}

.form-control {
  width: 25%;
}

.preview-image {
  height: 150px;
  width: auto;
}

.carousel-item {
  transition: transform 1s ease-in-out;
  justify-content: center;
  align-items: center;
  height: 500px;
}

#carouselExample {
  width: 70%;
  justify-content: center;
  align-items: center;
}
