@import "bootstrap";

* {
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}

a {
  color: yellow;
  border-color: rgb(45, 45, 45);
  border-width: 1cm;
}

.btn {
  background-color: yellow;
  color: rgb(45, 45, 45);
  border-color: rgb(45, 45, 45);
}

div {
  display: block;
}

.card {
  background-color: rgba(184, 184, 184, 0.54);
}

input,
select {
  background-color: lightyellow;
}

.text-red {
  color: red;
}

.form-control {
  width: 25%;
}
